@CHARSET "UTF-8";

@font-face {
	font-family:"ApertoAG Regular";
	src: url(../font/ApertoAGReg.woff) format("woff");
	font-style:normal;
	font-weight:300
}
@font-face {
	font-family:"ApertoAG Medium";
	src: url(../font/ApertoAGMed.woff) format("woff");
	font-style:normal;
	font-weight:400
}
  	
  			
body 					{	background: #222222;
							color	  : #ffffff;	}
									
/****** APERTO LOGO, USER usw *******/		
li						{	display: block;	}
				
.navbar-brand 			{	cursor: default;	}	
		
.container				{	background	: #222222;
							margin		: 80px auto;
  							width		: 360px;
  							padding-top	: 8.2%;	}
   
.vertical-separator  	{	color		: #efefef;
							margin-top	:14px;	}
							
.user-images			{	margin-top: 5px;	}

/******* BODY *******/
#top					{	position: fixed;
  							top		: 0;
  							left	: 0;
  							z-index	: 999;
  							width	: 100%;
  							height	:17%;
  							background-color: #222;	}
  							
#top h2 				{	font-family: ApertoAG Medium;
							padding-top	: 3.3%;
							padding-left: 1.3%;
							font-size	: 25px;
							cursor		: default;	}

section					{	padding-top: 12%; 
							padding-left: 60px;	}

/******* SEARCH BAR *******/						
.search-container		{	position	:left;	}

.search-box				{	background		: url("../img/search-icon.png") 
											  no-repeat 6px 7px
											  #ffffff;
							-webkit-transition: width 1.5s;
							-webkit-transition-timing-function: ease;
							transition: width 1.7s;
							transition-timing-function: ease;
							position		: left;
							width			: 35px;
							height			: 35px;
							border-radius	: 5px;
							border-style	: none;
							border			: solid;
							outline			: none;
							cursor			: pointer;
							font-size		: 15px; 	}

.search-box:hover		{	background		: url("../img/search-icon.png") 
											  no-repeat 6px 7px
											  #ffffff;
							border-color: gray;
							border-width: 3px;	}

.search-box:focus		{	background		: url("../img/search-icon.png") 
											  no-repeat 9px 10px
											  #ffffff;
							border		: none;
							outline		: none;
							box-shadow	: none;
							border-radius: auto;
							width		: 1200px;	
							cursor		: text;
							padding-left: 35px;
							color		: #222222;	}
							

							
.search-box:not(:focus) {	text-indent: -5000px;	} 

/****** TABLE ******/

div.material-table 		{	padding: 0;	}

div.material-table table{	table-layout: fixed;	}

div.material-table .table-footer {	height				: 60px;				/* altezza dal bordo della pagina*/
  									padding-right		: 50px;
  									display				: -webkit-flex;		/* mette il contenuto del footer tutto sull stessa linea*/
  									display				: flex;
 				 			 		-webkit-flex-direction: row;
  									flex-direction: row;		
  									-webkit-justify-content: flex-end;
  									justify-content: flex-end;
  									-webkit-align-items: center;
  									align-items			: center;
  									font-size			: 12px !important;
 									color				: #4f4f50;			} /* 1 -10 of 57 */

div.material-table .table-footer .dataTables_length {
  display: -webkit-flex;
  display: flex;
}


div.material-table .table-footer label {	font-size: 12px;
  											color: #4f4f50;					/* Projects per page: */
  											display: -webkit-flex;
  											display: flex;
  											-webkit-flex-direction: row;
  											-webkit-align-items: center;
  											align-items: center;
 				 							-webkit-justify-content: center;
 											justify-content: center;	
 											flex-direction: row;
											 -webkit-align-items: center;
											 align-items: center;
											 -webkit-justify-content: center;
											 justify-content: center;
											 text-decoration: none;
											 list-style: none;}

#datatable_previous 		{list-style: none}
#datatable_next				{list-style: none}

div.material-table .table-footer .select-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

div.material-table .table-footer .dataTables_info,
div.material-table .table-footer .dataTables_length {	margin-right: 35px;	}

div.material-table .table-footer .material-pagination {
  display: flex;
  -webkit-display: flex;
  margin: 0;
}

div.material-table .table-footer .material-pagination li:first-child {
  margin-right: 24px;
}

div.material-table .table-footer .material-pagination li a {
  color: rgba(0, 0, 0, 0.54);
}

div.material-table .table-footer .select-wrapper input.select-dropdown {
  margin: 0;
  border-bottom: none;
  height: auto;
  line-height: normal;
  font-size: 12px;
  width: 40px;
  text-align: right;
}

div.material-table .table-footer select {
  background-color: transparent;
  width: auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  height: auto;
  margin-left: 20px;
}

div.material-table table tr td {	padding		: 0 50px 0 60px;			/* contenuto della tabella */
									font-family : ApertoAG Regular;
  									height		: 48px;
  									font-size	: 14px;
  									color		: #8c8b8d;
 					 				white-space	: nowrap;
  									overflow	: hidden;
  									vertical-align	: middle;
  									text-overflow: ellipsis;	
  									cursor: default;}

div.material-table table tr td a {
  color: inherit;
}

div.material-table table tr td a i {
  font-size: 20px;
  color: #fefefe;
}

div.material-table table tr  {
  font-size: 15px;
}

div.material-table table th {	font-size		: 13px;
								font-family		: ApertoAG Medium ;
								text-transform	: uppercase;
  								font-weight		: 500;
  								color			: #efefef;
  								cursor			: default;
  								white-space		: nowrap;
  								height			: 56px;
  								padding			: 0 70px 35px 60px;			
  								vertical-align	: bottom;
  								outline			: none !important;	}
  							
div.material-table table th::FIRST-LETTER {	font-size: 16px;}

div.material-table table th.sorting_asc,
div.material-table table th.sorting_desc {	color: #9c0;	}

div.material-table table th.sorting:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {	font-family: 'Material Icons';
  													font-size: 19px;
  													line-height: 1;
  													letter-spacing: normal;
  													text-transform: none;
  													display: inline-block;
  													word-wrap: normal;
  													-webkit-font-feature-settings: 'liga';
  													-webkit-font-smoothing: antialiased;
  													content: "arrow_drop_down";
  													display: none;
  													vertical-align: middle;	}

div.material-table table th.sorting:hover:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {	display: inline-block;	}


div.material-table table tbody tr:hover	{	background-color: #f9eaa6;	}



div.material-table table th:first-child,
div.material-table table td:first-child {
  padding: 0 0 0 24px;
}

div.material-table table th:last-child,
div.material-table table td:last-child {
  padding: 0 14px 0 0;
}					

.browser-default {color: #bcbccf;
display: block;}

/****** OPTIONS BUTTON ******/
.material-button-anim {	position: relative;
      					text-align: center;
      					max-width: 320px;
      					margin: 0 auto 20px; }
    
.material-button 	  {	position: relative;			/* bottoni quelli piccini */
    					top: 0;
    					width: 45px;
    					height: 45px;
    					font-size: 1.5em;
    					color: #787779;
    					background: #ffffff;
    					border: none;
    					border-radius: 50%;
    					box-shadow: 0 3px 6px rgba(0,0,0,.275);
    					outline: none;								}
    					
.material-button-toggle {	z-index: 10;				/* bottone principale */
    						width: 50px;
    						height: 50px;
    						margin: 0 auto;	}
    						
.material-button-toggle span {
    -webkit-transform: none;
    transform:         none;
    -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
    transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}
.material-button-toggle.open {
    -webkit-transform: scale(1.3,1.3);
    transform:         scale(1.3,1.3);
    -webkit-animation: toggleBtnAnim .175s;
    animation:         toggleBtnAnim .175s;
}
.material-button-toggle.open span {
    -webkit-transform: rotate(90deg);
    transform:         rotate(90deg);
    -webkit-transition: -webkit-transform .175s cubic-bazier(.175,.67,.83,.67);
    transition:         transform .175s cubic-bazier(.175,.67,.83,.67);
}

#options {	height: 70px;	}

.option {	position: relative;	}

.option .option1,
.option .option2,
.option .option3 {	filter: blur(5px);
    				-webkit-filter: blur(5px);
    				-webkit-transition: all .175s;
    				transition:         all .175s;	}
    				
.option .option1 {
    -webkit-transform: translate3d(29px,85px,0) scale(.8,.8);		/* modificare qui per nascondere i bottoncini sotto quello principale*/
    transform:         translate3d(29px,85px,0) scale(.8,.8);
}
.option .option2 {
    -webkit-transform: translate3d(-25px,85px,0) scale(.8,.8);
    transform:         translate3d(-25px,85px, 0) scale(.8,.8);
}

/* .option .option3 {
    -webkit-transform: translate3d(-90px,90px,0) scale(.8,.8);
    transform:         translate3d(-90px,90px,0) scale(.8,.8);
} */

.option.scale-on .option1, 
.option.scale-on .option2  {	filter: blur(0);
    							-webkit-filter: blur(0);
    							-webkit-transform: none;
   		 						transform:         none;
    							-webkit-transition: all .175s;
    							transition:         all .175s;	}

.option.scale-on .option2 {	-webkit-transform: translateY(0px) translateZ(0);
    						transform:         translateY(0px) translateZ(0);
    						-webkit-transition: all .175s;
    						transition:         all .175s;	}




